OpenCLFilterPipeline/Debug/
OpenCLFilterPipeline/GeneratedFiles/
*.opensdf
*.sdf
build-OpenCLFilterPipeline-Desktop_Qt_5_4_1_MSVC2013_OpenGL_64bit-Debug/
OpenCLFilterPipeline/x64/
/OpenCLFilterPipeline/Debug
OpenCLFilterPipeline/Release/
